<h1>Add a Task</h1>
<%= form_with(model: [@list, @task], local: true) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, placeholder: "Task Name" %>
    </div>
    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description, required: true, placeholder: "Description" %>
    </div>
    <div class="field">
        <%= f.label :priority %>
        <%= f.text_field :priority, required: true, placeholder: "Priority" %>
    </div>
    <%= f.submit %>
<% end %>